body {
    background-image: url(../photos/silver.jpg);
    background-attachment: fixed;
    background-size: cover;
    min-height: 80vh;
    width: 100%
}

h1 {
    font-weight: bolder;
    align-self: center;
    justify-content: center;
    text-align: center;
    align-items: center;
}
