body {
    background-color:#a5a58d;
    /* background-image: url(../photos/silver.jpg); */
    background-attachment: fixed;
    background-size: cover;
    height: vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.container {
    align-items: center;
    text-align: center;
    justify-content: center;
}
.card {
    background-color: #eddcd2;
}