{% extends 'base.html' %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
<link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&display=swap" rel="stylesheet"> 

{% endblock %}
{% block content %}
    <div class="container" style="background: rgba(255, 255, 255, 0.3)">
        <h1 style="color: maroon;">Pitch Up</h1>
        <h3 style="align-items: center; justify-content: center;font-weight: bolder; text-align: center; color:maroon;">One minute can change your life</h3>
    </div>
{% endblock %}